/*Sobre nós - Jonas*/
.container-sobrenos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    background-color: white;
    gap: 100px;
}

.card-imagem-sobrenos{
    margin-top: 250px;
    height: auto;
    width: 35%;
    margin-left: 200px;
}
.card-imagem-sobrenos img{
    width: 100%;
    border-radius: 8px;
}

.card-titulo-sobrenos {
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    max-width: 450px;
    text-align: justify;
}
.card-titulo-sobrenos h4{
    font-size: 32px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
.card-titulo-sobrenos p{
    display: flex;
    flex-direction: column;
    color: black;
    line-height: 1.6;
}


.container-sobrenos-2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 20px;
    background-color: white;
    gap: 150px;
}

.card-imagem-sobrenos-2{
    margin-top: 100px;
    height: auto;
    width: 35%;
    margin-right: 200px;
}
.card-imagem-sobrenos-2 img{
    width: 100%;
    border-radius: 8px;
}

.card-titulo-sobrenos-2 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-width: 460px;
    text-align: left;
}
.card-titulo-sobrenos-2 h4{
    font-size: 32px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
}
.card-titulo-sobrenos-2 p{
    display: flex;
    flex-direction: column;
    color: black;
    line-height: 1.6;
}
/*FIM -sobre nós - Jonas*/

/* Sobre nós - Mickaela*/

.tituloImpactos {
    height: 20dvh;
    color: #023F3A;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.conteineImagensImpactosProjeto {
    height: 60dvh;
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.conteineImagensImpactosProjeto img {
    display: flex;
    height: 90%;
    width: 90%;
}

.itemPrimeiraImagemImpactos {
    height: 80%;
    width: 25%;
    background-image: url('/imagens/sobre-nós/imagemMonitoramentointeligente.png');
    background-repeat: no-repeat;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}


.itemSegundaImagemImpactos {
    height: 80%;
    width: 25%;
    background-image: url('/imagens/sobre-nós/imagemQualidadeCultivo.png');
    background-repeat: no-repeat;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}


.itemTerceiraImagemImpactos {
    height: 80%;
    width: 25%;
    background-image: url('/imagens/sobre-nós/dadosimpacto.webp');
    background-repeat: no-repeat;
    border-radius: 5%;
    background-size: cover;
    background-position: center;
}

.textoimagemimpactos {
    color: #ffffff;
    border-radius: 5%;
    width: 89%;
    height: 12%;
    gap: 3px;
    margin-top: 70%;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.541), rgba(255, 255, 255, 0.049));
}

.titulodaImagemImpactos{
    margin: 0;
    font-size: 20px;
}

.paragrafoImpactos{
    margin: 0;
    font-size: 12px;
}

/* Sobre nós - Mickaela*/

/* TIME - PARTE RAISSA */
.img-time {
    width: 80%;
    border-radius: 5%;
}

.container-equipe{
    width: 60%;
    margin: 5% auto;
}

.equipe {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.title-equipe {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #1E503C;
}

.card-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    height: 300px;
}

.card-bg {
    width: 100%;
    /* height: 260px; */
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.card-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.705) 25%,
        rgba(0, 0, 0, 0.0) 50%
    );
}

.info {
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    color: white;
}

.nome-integrante {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.cargo {
    margin: 4px 0 0;
    font-size: 14px;
    opacity: 0.9;
}

.icons {
    display: flex;
    gap: 8px;
}

.icon-time {
    width: 25px;
}

/* IMAGEM DE CADA INTEGRANTE (separada por classe) */
.joao {
    background-image: url("../imagens/integrantes/joao.jpg"); 
    background-size: cover;
    background-position: center;
}

.jonas {
    background-image: url("../imagens/integrantes/jonas.jpg"); 
    background-size: cover;
    background-position: bottom;
}
.matheus {
    background-image: url("../imagens/integrantes/matheus.jpg"); 
    background-size: cover;
    background-position: center;
}
.mickaela {
    background-image: url("../imagens/integrantes/mickaela.jpg"); 
    background-size: cover;
    background-position: center;
}
.nicolas {
    background-image: url("../imagens/integrantes/nicolas.jpg"); 
    background-size: cover;
    background-position: bottom;
}

.raissa {
    background-image: url("../imagens/integrantes/raissa2.jpg"); 
    background-size: cover;
    background-position: top;
}

/* PARTE RAISSA */